/* Header */
.headerNav {
    text-decoration: none;
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.headerNav:hover {
    color: #414880;
}

.headerNavContact {
    padding: 14px 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #FF64AE;
    border-radius: 50px;
    margin-left: 52px;
}

.headerNavBlog {
    margin-left: 47px;
}

.headerNavGallery {
    margin-left: 46px;
}

.headerNavService,
.headerNavAbout {
    margin-left: 45px;
}

.headerNavHome {
    color: #414880;
    font-weight: 600;
    font-size: 16px;
}

.phoneBars {
    display: none;
}

.color1 {
    color: #D8DCFF !important;
}

.color1:hover {
    color: #fff !important;
}

.color1Home {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.color1Home:hover {
    color: #fff !important;
}

/* responsive */

@media (max-width: 929px) {

    .show {
        display: flex !important;
    }
    
    .hide {
        display: none !important;
    }

    .header {
        margin: 0 10px;
        padding-top: 10px;
    }

    .phoneBars {
        display: block;
        width: 50px;
        height: auto;
        cursor: pointer;
    }

    .headerNavLink {
        display: none;
        right: 0;
        position: fixed;
        top: 107px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-color: #e8eaff;
        z-index: 9999;
    }

    .headerNav {
        margin-left: 0;
        padding: 8px;
        width: 100%;
        text-align: center;
    }

    .headerNavContact {
        color: #8B8B8B;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.1em;
        background-color: transparent;
        padding: 0;
        padding: 8px;
        border-radius: 0;
    }

    .headerNav:hover {
        background-color: #f4f5ff;
    }

    .color1 {
        background-color: #5c608e;
    }

    .color1:hover {
        color: #000 !important;
    }

    .color1Home {
        background-color: #5c608e;
    }

    .color1Home:hover {
        color: #000 !important;
    }

}

@media (min-width: 930px) and (max-width:1420px) {
    .header {
        margin: 0 30px;
        padding-top: 30px;
    }

    .headerNav {
        margin-left: 20px;
    }
}