.home1 {
    width: 100%;
    background-image: url('../../assets/images/Home1-slider-background.svg'), url('../../assets/images/bgr-bubble-right.svg'), url('../../assets/images/bgr-bubble-left.svg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 87% auto, auto, auto;
    background-position: top left, top 1320px right 0, top 2835px left 0;
    /* position: absolute; */
}

.slider {
    display: flex;
    align-items: center;
    padding: 159px 150px 0 150px;
}

.bannerHeaderTitle {
    font-weight: 600;
    font-size: 48px;
    line-height: 125%;
    color: #091156;
}

.bannerDesc {
    width: 98%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #091156;
}

.bannerButton {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #FF64AE;
    box-shadow: 0px 17px 22px #FFEDF6;
    border-radius: 50px;
    padding: 16px 40px 15px 41px;
    display: block;
    width: fit-content;
    margin-top: 44px;
}

.slideButtons {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 131px;
}

.slideButton {
    width: 14px;
    height: 6px;
    border-radius: 50px;
    background-color: #EEEEEE;
    cursor: pointer;
}

.slideButtonMid {
    background-color: #414880;
    margin: 0 2px;
}

.sliderImage {
    width: 100%;
}

/* service */

.listService {
    margin-top: 82px;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
}


.service {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 35px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px 25px #F7F7FF;
    border-radius: 42px;
}

.serviceTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    text-align: center;
    color: #091156;
    margin-top: 58px;
    margin-bottom: 6px;
}

.serviceDesc {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #8B8B8B;
}

/* about us */

.aboutUs {
    display: flex;
    margin-top: 134px;
    padding: 0 150px;
}

.aboutUsDes {
    width: 55%;
}

/* .abouUsImage {
    width: 45%;
    position: relative;
    top: 40px;
} */

.aboutUsPlayBtn {
    display: flex;
    align-items: center;
    margin-left: 44px;
    cursor: pointer;
}

.aboutUsPlayText {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    margin-left: 13px;
    color: #8B8B8B;
}

.aboutUsBtns {
    display: flex;
    align-items: center;
    margin-top: 54px;
}

.mgt0 {
    margin-top: 0;
}

.toTop {
    position: fixed;
    bottom: 65px;
    right: 65px;
}

@media (max-width: 929px) {
    .slider {
        flex-direction: column;
        padding-top: 70px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .sliderImg {
        margin-top: 20px;
    }

    .slideButtons {
        margin: 50px 0;
    }

    .listService {
        flex-direction: column;
        margin: 0;
        margin-top: 30px;
    }

    .service {
        width: 100%;
        margin-bottom: 12px;
    }

    .aboutUs {
        padding: 0 20px;
        flex-direction: column;
    }

    .abouUsImage,
    .aboutUsDes {
        width: 100%;
    }

    .abouUsImage {
        margin-top: 20px;
    }

    .bannerButton {
        text-align: center;
    }

    .listService {
        margin: 0 20px;
        margin-top: 20px;
    }
}





@media (min-width: 930px) and (max-width:1420px) {
    .slider {
        padding-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .listService {
        margin: 0 20px;
        margin-top: 82px;
    }

    .aboutUs {
        padding: 0 20px;
    }
}