.about {
    background-image: url('../../assets//images/bubble-backgr-about.svg'), url('../../assets//images/about-bubble-backgr-2.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position: top 700px right 0, top 2727px left 0;
}

.aboutUs {
    margin: 125px 150px 58px 150px;
}

.width75 {
    width: 75%;
}

.mainBanner {
    box-shadow: 0px 25px 50px 25px #F6F7FF;
    border-radius: 50px;
}

.videoBannerWrapper {
    position: relative;
    margin-top: 58px;
}

.mainBanner {
    width: 100%;
}

.playBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/* slogan */

.slogan {
    background-image: url('../../assets/images/slogan-backgr.svg');
    background-repeat: no-repeat;
    background-size: auto;

    margin-top: 149px;
    padding: 164px 355px 168px 354px;
}

.sloganTitleTop {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #ABB4FF;
    margin-bottom: 12px;
}

.sloganTitleBot {
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.sloganAbout {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #CACACA;
}

.visonAndMission {
    margin: 0 150px;
    margin-top: 112px;
    display: flex;
    justify-content: space-between;
}

.visonMissionImg {
    width: 40%;
}

.titDescWrapper {
    width: 50%;
}

/* clients */

.clients {
    margin: 0 150px;
    margin-top: 123px;
    margin-bottom: 124px;
}

.clientList {
    display: flex;
    justify-content: space-around;
    margin-top: 94px;
}

@media (max-width: 929px) {
    .aboutUs {
        margin: 125px 20px 58px 20px;
    }

    .width75 {
        width: 100%;
    }

    .slogan {
        padding: 164px 20px 168px 20px;
    }

    .visonAndMission {
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
    }

    .visonMissionImg {
        width: 100%;
        margin-bottom: 12px;
    }

    .titDescWrapper {
        width: 100%;
        margin-bottom: 12px;
    }

    .clients {
        margin: 0 20px;
        margin-top: 123px;
        margin-bottom: 124px;
    }
    .clientList{
        flex-wrap: wrap;
        justify-content: center;
    }
    .client {
        width: 50%;
        text-align: center;
    }
}

@media (min-width: 930px) and (max-width:1420px) {
    .aboutUs {
        margin: 125px 30px 58px 30px;
    }
    .visonAndMission {
        margin-left: 30px;
        margin-right: 30px;
    }
    .clients {
        margin: 0 30px;
        margin-top: 123px;
        margin-bottom: 124px;
    }
    .slogan {
        padding: 164px 30px 168px 30px;
    }
}