.toTop {
    position: fixed;
    bottom: 65px;
    right: 65px;
}

.banner {
    margin-top: 36px;
    background-image: url('../../assets/images/blog-top-backgr.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: 121px 150px 107px 149px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bannerHeading {
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    color: #FFFFFF;
}

.bannerDesc {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.1em;
    color: #D9D9D9;
}


.blogMainContainer {
    margin: 108px 150px 56px 150px;
    display: flex;
    justify-content: space-between;
}

.mainContainerLeft {
    width: 65%;
}

.mainContainerRight {
    width: 32%;
}

.blogLeftElement {
    display: flex;
    flex-direction: column;
    margin-bottom: 133px;
}

.blogLeftImg {
    width: 100%;
}

.blogLeftElementDesc {
    padding: 56px 42px 100px 76px;
    background: #FFFFFF;
    box-shadow: 10px 13px 80px 14px #F2F4FF;
    border-radius: 0px 0px 50px 50px;
}

.blogLeftElementHeading {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.folderIcon {
    margin-right: 15px;
}

.blogLeftElementHeadingText {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FF64AE;
}

.blogLeftElementHeadingBot {
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    color: #091156;
    margin-bottom: 12px;
}

.blogLeftElementAbout {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #8B8B8B;
    margin-bottom: 13px;
}

.blogLeftBtn {
    display: flex;
    background: #FF64AE;
    box-shadow: 0px 17px 22px #FFEDF6;
    border-radius: 50px;
    width: fit-content;
    padding: 16px 47px 15px 47px;
}


.btnText {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}


.searchBtn {
    background: #172176;
    border-radius: 0px 50px 50px 0px;
    width: fit-content;
    padding: 20px 25px 20px 25px;
    width: 77px;
}

.inputSearchBlogRight {
    flex: 1;
    padding-left: 27px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    /* box-shadow: -2px 4px 31px 9px #F2F4FF; */
    outline: none;
    border-color: transparent;
}

.searchBox {
    display: flex;
    background: #FFFFFF;
    /* box-shadow: -2px 4px 31px 9px #F2F4FF; */
    border-radius: 50px;
}

.blogRightElement {
    background: #FFFFFF;
    box-shadow: -2px 4px 31px 9px #F2F4FF;
}

.blogRightEleHeading {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #091156;
    margin-bottom: 28px;
}

.blogRightBotElement {
    margin-bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogRightBot {
    padding: 58px 38px 41px 38px;
    border-radius: 50px;
    margin-top: 76px;
}

.blogRightSubDivHeading {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;

    color: #FF64AE;
    margin-bottom: 5px;
}

.blogRightSubDivDesc {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;

    color: #8B8B8B;
}

.blogRightSubDiv {
    margin-left: 26px;
}

.categoryElement {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    margin-bottom: 3px;
    color: #8B8B8B;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tag {
    width: 30%;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1em;

    color: #8B8B8B;

    background: #FFFFFF;
    box-shadow: 0px 4px 17px #EEF0FF;
    border-radius: 50px;

    margin-top: 19px;
    padding: 2px 6px 3px 6px;
}

.socialMedias {
    display: flex;
    flex-wrap: wrap;
}

.socialMediaIcon {
    width: 25%;
}

.blogRightImg {
    width: 82px;
    height: auto;
}

@media (max-width: 929px) {
    .banner {
        padding: 121px 20px 107px 20px;
    }

    .blogMainContainer {
        margin: 108px 20px 56px 20px;
    }
    .blogMainContainer {
        flex-direction: column;
    }
    .mainContainerLeft {
        width: 100%;
    }
    .mainContainerRight {
        width: 100%;
    }
    .blogLeftElementDesc{
        padding: 56px 20px 100px 20px;
    }
}

@media (min-width: 930px) and (max-width:1420px) {
    .banner {
        padding: 121px 30px 107px 30px;
    }

    .blogMainContainer {
        margin: 108px 30px 56px 30px;
    }

    .mainContainerLeft {
        width: 50%;
    }
    .mainContainerRight {
        width: 40%;
    }

    .blogLeftElementDesc{
        padding: 56px 20px 100px 20px;
    }
}