.toTop {
    position: fixed;
    bottom: 65px;
    right: 65px;
}


.wrapperContact {
    margin-top: 100px;
}

.map {
    margin-top: 103px;
    margin-bottom: 112px;
    width: 100%;
}

.handling {
    margin: 0 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.handlingElement {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 79px 77px 71px 77px;
}

.title1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    /* identical to box height, or 20px */

    text-align: center;

    color: #FF64AE;
    margin-bottom: 15px;
}

.title2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: #091156;
    margin-bottom: 6px;
}

.desc {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #8B8B8B;
}

.handlingIcon {
    margin-bottom: 46px;
}

.handlingElement:hover {
    background: #FFFFFF;
    box-shadow: 0px 25px 50px 25px #F7F7FF;
    border-radius: 42px;
    cursor: pointer;
}

@media (max-width: 929px) {
    .handling {
        flex-direction: column;
        margin-top: 30px;
    }
    .handlingElement {
        width: 100%;
        padding: 77px 20px;
        margin-top: 30px;
    }
}

@media (min-width: 930px) and (max-width:1420px) {
    .handling {
        margin: 0;
    }
    .handlingElement {
        width: 30%;
        padding: 77px 30px;
    }
}