* {
  box-sizing: border-box;
  margin: 0;
  padding: 9;
}

html,
body {
  font-family: 'Poppins', sans-serif !important;
  scroll-behavior: smooth;
}

::placeholder {
  color: #C5C5C5;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
}

.totop {
  position: fixed;
  bottom: 65px;
  right: 65px;
  cursor: pointer;
  z-index: 9999;
}

body {
  display: flex;
  justify-content: center;
}